.table {
    border-collapse: collapse;
}

.table tbody tr:nth-child(2n) {
    background-color: #eeeeee;
}

.table thead tr {
    background-color: #ddd;
    text-align: left;
    font-weight: bold;
}

.table td,
.table th {
    padding: .5em 1em;
}
